<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    {% extends 'main.html' %} {% block content %}

    <h1>Home</h1>

    {% for room in rooms %}

    <div>
      <div>
        <span
          >{{room.id}} ---- <a href="/room/{{room.id}}/">{{room.name}}</a></span
        >
      </div>
    </div>

    {% endfor %} {% endblock content %}
  </body>
</html>
